.header{
    display: flex;
    border-bottom: 1px solid #333333;
    padding-left: 10px;
    height: 60px;
    align-content: center;
}
.header__name{
    margin-top: 15px;
}

.login__header{
    display: flex;
    align-self: center;
    justify-content: center;
}

.layout{
    min-height: 100vh;
}

.side_menu{
    margin-top: 10px;
    height: 100vh;
}

.side_menu__spalte{
    min-height: 100vh;
}

.side_menu__menu{
    min-height: 100vh!important;
}

.user_search__input{
    width: 95%;
}
